<div class="form-data">
    <form action="/courses/create" method="POST">
        <label for="txtTitle">Title</label>
        <input type="text" name="title" id="txtTitle" required>
        <label for="txtDescription">Description</label>
        <input type="text" name="description" id="txtDescription" required>
        <label for="txtStudents">Max Students</label>
        <input type="text" name="maxStudents" id="txtStudents" required>
        <label for="txtCost">Cost</label>
        <input type="text" name="cost" id="txtCost" required>
        <button type="submit">Save</button>
    </form>
</div>